<h2>Reactive: <small>Básicos</small></h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
      <div class="mb-3 row"> <!--  -->
        <label class="col-sm-3 col-fom-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre del producto">
          <span
            class="form-text text-danger"
            *ngIf="campoEsValido('nombre')"
          >Debe de ser de 3 letras</span>
        </div>
      </div>

      <div class="mb-3 row"> <!--  -->
        <label class="col-sm-3 col-fom-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            formControlName="precio"
            placeholder="Precio del Producto">
          <span
            class="form-text text-danger"
            *ngIf="campoEsValido('precio')"
          >El precio debe  de ser 0 o mayor</span>
        </div>
      </div>

      <div class="mb-3 row"> <!--  -->
        <label class="col-sm-3 col-fom-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number"
            class="form-control"
            formControlName="existencias"
            placeholder="Existencias del Producto">
            <span
              class="form-text text-danger"
              *ngIf="campoEsValido('existencias')"
            >Las existencias debe de ser 0 o mayor</span>
        </div>
      </div>

      <div class="row"> <!--  -->
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>
    <br>

    <span>Pristine</span>
    <pre>{{ miFormulario.pristine | json }}</pre>
    <br>

    <span>Touched</span>
    <pre>{{ miFormulario.touched | json }}</pre>
    <br>

    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>
    <br>

    <span>CustomDirective</span>
    <!-- <pre>{{ miFormulario.controls['existencias']?.errors | json }}</pre> -->
  </div>
</div>
